<div style="text-align:center"><img src="./images/02.jfif" /></div>

<a id = "idx2"></a>
<a href="00_cover_page.ipynb"><p style="text-align:right;" href="00_cover_page.ipynb">Back To Cover Page</p></a>

<a href="01_what_is_python.ipynb"><p style="text-align:left;" href="01_what_is_python.ipynb">Back - 1. What is Python?</p></a></div>
#### Index
- [2. Variables in Python](#2.)
    * [2.1. Numeric values](#2.1.)
        + [2.1.1. Integer values](#2.1.1.)
        + [2.1.2. Float values](#2.1.2.)
        + [2.1.3. Arithmetic operations](#2.1.3.)
    * [2.2. String values](#2.2.)
        + [2.2.1. String operations](#2.2.1.)
    * [2.3. Boolean values](#2.3.)
        + [2.3.1. Boolean operations](#2.3.1.)
    * [2.4. Change types](#2.4.)
    * [2.5. None type](#2.5)
    * [2.6. Global and local variables](#2.6.)
    * [2.7. Good practises](#2.7.)

<a id = "2."></a>
<a href="#idx2"><p style="text-align:right;" href="#idx2">Back To Index</p></a> 
# 2. Variables in Python

- In python we use variables to store data (objects) in the computer.
- This works by assigning an object to a variable name.
- Variables names are case sensitive which means that "number" is different to "Number"
- Objects could be integers, strings, booleans among others.

<a id = "2.1."></a>
<a href="#idx2"><p style="text-align:right;" href="#idx2">Back To Index</p></a> 
## 2.1. Numeric values

<a id = "2.1.1."></a>
<a href="#idx2"><p style="text-align:right;" href="#idx2">Back To Index</p></a> 
### 2.1.1. Integer values

In [1]:
7

7

In [2]:
-1

-1

In [3]:
# This don't work
09

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-3-66ddacb94d26>, line 2)

In [4]:
number = 9
Number = 1 # Case sensitive

In [5]:
number

9

In [6]:
Number

1

<a id = "2.1.2."></a>
<a href="#idx2"><p style="text-align:right;" href="#idx2">Back To Index</p></a> 
### 2.1.2. Float values

Float number use `.` to separate integer part from decimal part. Python **will not** understand `,` as a decimal separator.

In [7]:
1.0

1.0

In [8]:
float_number = 1.5
float_number

1.5

In [9]:
.5

0.5

#### Exercise 2.1.
1. Assign two `int` numbers to variables.
2. Assign two `float` numbers to variables.
3. Check types [Hint](https://stackabuse.com/python-check-if-variable-is-a-number)

<a id = "2.1.3."></a>
<a href="#idx2"><p style="text-align:right;" href="#idx2">Back To Index</p></a> 
### 2.1.3. Arithmetic operations

##### Sum
```python
# Theory
num1 + num2
num1 - num2

#Example
2 - 1
>> 1
```

In [10]:
number + 8

17

In [11]:
number - 9

0

In [12]:
float_number + 1

2.5

In [13]:
# Othe way of summing
a = 5
a += 1
print(a)

6

##### Multiplication
```python
# Theory
num1 * num2

# Example
15 * -2
>> -30
```

In [14]:
number * 0

0

In [15]:
number * -1

-9

In [16]:
number * .5

4.5

In [17]:
# Other way of multiplication
b = 2
b *= 3
print(b)

6

##### Division

```python
# Theory
num1 / num2

# Example
4 / 2
>> 2.0
```

In [18]:
div = number / 3
div

3.0

In [19]:
Number / 0

ZeroDivisionError: division by zero

In [20]:
Number / .5

2.0

##### Power
```python
#Theory
num1 ** num2

# Example
2 ** 3
>> 8
```

In [21]:
3 ** 2

9

In [22]:
number ** .5

3.0

In [23]:
2 ** -1

0.5

##### Modulus
```python
# Theory
num1 % num2

# Example
5 % 2
>> 1

6 % 3
>> 0
```

In [24]:
mod = 3 % 2
mod

1

In [25]:
3 % 3

0

In [26]:
mod1, mod2, mod3 = 12 % 2, 12 % 3, 12 % 5  # multiple assignation
print(mod1)
print(mod2)
print(mod3)

0
0
2

##### Floor division
```python
# Theory
num1 // num2

# Example
2 // 2
>> 1

12 // 5
>> 2
```

In [27]:
3 // 2.0

1.0

In [28]:
13 // 6

2

#### Exercise 2.2.
1. Assign one `int` and one `float` to different variables.
2. Sum them and check types.

<a id = "2.2."></a>
<a href="#idx2"><p style="text-align:right;" href="#idx2">Back To Index</p></a> 
## 2.2. String values

In [31]:
char = "Hello World"
char

'Hello World'

In [32]:
char2 = "Hello\nWorld"
char2

'Hello\nWorld'

In [33]:
print(char2)

Hello
World

[Escape characters](https://www.w3schools.com/python/gloss_python_escape_characters.asp) This are scape characters to use inside a string

In [34]:
type(char)

str

In [35]:
char3 = 'Welcome!'  # use of single ' to create strings
type(char3)

str

In [36]:
char4 = ("I" 
         "Love" 
         "Python")
char4

'ILovePython'

In [37]:
char5 = "'I Love JAVA' said anyone never..."  # you have to altern between "" and '' to use inside of a string
print(char5)

'I Love JAVA' said anyone never...

In [38]:
# As we can see from the error this is because we have to close the str with the last "
char6 = "This is a failed str...

SyntaxError: EOL while scanning string literal (<ipython-input-38-9d9aacdcc1cb>, line 2)

#### Exercise 2.3.
1. Create 3 string with your name, your street and you dni.

<a id = "2.2.1."></a>
<a href="#idx2"><p style="text-align:right;" href="#idx2">Back To Index</p></a> 
## 2.2.1 String operations

##### Concatenate strings
```python
# Theory
str1 + str2 = str1str2

# Example
"Hello" + " " + "World" = "Hello World"
```

In [39]:
day = "4"
month = "8"
year = "2021"
print(day, month, year)

4 8 2021

##### String formatting
```python
# Theory
char = f"My name is {name_var} and I am {age_var} years old"

# Example
name_var = "Esteban"
age_var = "27"
char = f"My name is {name_var} and I am {age_var} years old"
print(char)
>> "My name is Esteban and I am 27 years old
```

In [40]:
per = "15"
char = f"Your salary will increase a {per}% next quarter."
print(char)

Your salary will increase a 15% next quarter.

##### String methods

There are several string methods that you could use to perform any operation, [here (python)](https://docs.python.org/3/library/stdtypes.html) or [here (w3sch)](https://www.w3schools.com/python/python_ref_string.asp) you can find them. Let's see some example

In [41]:
# Lowercase
char = "SPAIN, spain, Spain"
char.casefold()  # or char.lower()

'spain, spain, spain'

In [42]:
char  # As we can see previous method don't override the variable. In some cases the behaviour will be different.

'SPAIN, spain, Spain'

In [43]:
lower_char = char.lower()  # to add the lowercase str object to a new variable name
lower_char

'spain, spain, spain'

In [44]:
# Replace a value
char.replace(", ", " - ")

'SPAIN - spain - Spain'

In [45]:
# Add 0 in the beginning of a string until match with the given length
"8014".zfill(5)

'08014'

#### Exercise 2.4.
1. Remove extra white-spaces from `"  Hello "` using string methods.

#### Exercise 2.5.
1. Use the variables in `Exercise 2.3.` to crate the following string: `My name is {name}, my DNI is {dni} and I live in {}.`.

<a id = "2.3."></a>
<a href="#idx2"><p style="text-align:right;" href="#idx2">Back To Index</p></a> 
## 2.3. Boolean values

In [48]:
bool_var1 = True
bool_var2 = False

<a id = "2.3.1."></a>
<a href="#idx2"><p style="text-align:right;" href="#idx2">Back To Index</p></a> 
### 2.3.1. Boolean operations

##### Equality
```python
# Theory
var1 == var2

# Example
True == True
>> True

5 == 5
>> True

"hello" == "Hello"
>> False
```

In [49]:
a = 10
print(a == 9, a == 10)

False True

##### Non-equality
```python
# Theory
var1 != var2

# Example
False != True
>> True

5 != 5
>> False

"hello" != "Hello"
>> True
```

In [50]:
a = 10
print(a != 9, a != 10)

True False

##### Greater
```python
# Theory
var1 > var2

# Example
1 > 1
>> False

1 > -1
>> True

1 >= 1  # Greater or equal
>> True
```

In [51]:
a = 10
print(a > 9, a > 10)

True False

##### Fewer
```python
# Theory
var1 < var2

# Example
1 < 1
>> False

1 < 3
>> True

1 <= 1  # Fewer or equal
>> True
```

In [52]:
a = 10
print(a < 9, a <= 10)

False True

#### Exercise 2.6.
Given:
```python
a = 4
b = "text"
c = 4.1
```
1. Check if there are any variable equal to other.
2. Check if there are any variable different from other.
3. Check if `a` is greater than `c`.

<a id = "2.4."></a>
<a href="#idx2"><p style="text-align:right;" href="#idx2">Back To Index</p></a> 
## 2.4. Change types

In python there are pre-defined functions (**built-in functions**) used to do something. In this case we are going to see the ones to create varibles.

##### Integer
```python
# Theory
int(arg)
```

In [53]:
int(), int(1)

(0, 1)

We can keep the integer part of a decimal number by doing:
```python
int(3.6)
>> 3
```

In [54]:
int(3.2), int(4.6), int(4.0)

(3, 4, 4)

We can change from string to integer by doing:
```python
int("2")
>> 2
```

In [55]:
a, b = int("-5"), int("909 ")
a, b

(-5, 909)

In [56]:
int("5.4")  # Not valid

ValueError: invalid literal for int() with base 10: '5.4'

##### Float
```python
# Theory
float(arg)
```

In [57]:
float(), float(4)

(0.0, 4.0)

We can change from string to float by doing:
```python
int("2.2")
>> 2.2
```

In [58]:
float(" -2.7")

-2.7

##### String
```python
# Theory
str(arg)
```

In [59]:
str(1.3), str(  -6)

('1.3', '-6')

##### Boolean
```python
#Theory
bool(arg)
```

In [60]:
bool()

False

Every number in Python is considered as `True` and only 0 is `False`

In [61]:
bool(0.0), bool(0.1), bool(-12)

(False, True, True)

In [62]:
int(True), float(False)

(1, 0.0)

Every string  is considered as `True` except for the empty string `""`

In [63]:
bool(""), bool(" "), bool("Hello Worlds")

(False, True, True)

In [64]:
str(True), str(False)

('True', 'False')

In [65]:
# Changing the type of the same variable
A = "5"
A = int(A)
A, type(A)

(5, int)

<a id = "#2.5"></a>
<a href="#idx2"><p style="text-align:right;" href="#idx2">Back To Index</p></a> 
## 2.5. None type

This is a special type of variable which means empty variable.

In [66]:
special_var = None
special_var

In [67]:
print(special_var)

None

In [68]:
None == True, None == False

(False, False)

<a id = "2.6."></a>
<a href="#idx2"><p style="text-align:right;" href="#idx2">Back To Index</p></a> 
## 2.6. Global and local variables

- We can use global variables over the code.
- We can use local variables only in the scope of definition.

In [71]:
# This function uses global variable s
def f():
    print(s)

s = "I love The Bridge"
f()

I love The Bridge

In [76]:
# Also we can do the following because of its globality
print(s)

I love The Bridge

In [72]:
def g():
    GG = "Good Game!"  # This is a local variable in the scope of `g()` definition
    print(GG)

In [73]:
g()

Good Game!

In [75]:
print(GG)  # We cannot do that because GG is a local variable

NameError: name 'GG' is not defined

<a id = "2.7."></a>
<a href="#idx2"><p style="text-align:right;" href="#idx2">Back To Index</p></a> 
## 2.7. Good practises

In Python there are more types of variables, however these are the most relevant for this course. Let's see some good practises to follow when you are coding.

You can use as variable name whatever you want, however there are some tips to follow:
- Do not use strange characters.
- Use snake case to write variables names as follow `snake_case` or use camel case `camelCase`. The first one is more pythonic.
- Use descriptive names in sake of an easy reading. For example `name = "Esteban"` is more descriptive than `n = "Esteban"`.
- When you write code there are words that change their color, do not use those words to declare a variable because you will destroy its functionality.

<div><a href="03_conditionals.ipynb"><p style="text-align:right;" href="03_conditionals.ipynb">Next - 3. Conditionals</p></a>