<div style="text-align:center"><img src="./images/datastrcpng.png" /></div>

<a href="00_cover_page.ipynb"><p style="text-align:right;" href="00_cover_page.ipynb">Back To Cover Page</p></a>

<a id = "idx4"></a>
<a href="03_conditionals.ipynb"><p style="text-align:left;" href="03_conditionals.ipynb">Back - 3. Conditionals</p></a></div>
#### Index
- [4. Data structures](#4.)
    + [4.1. List](#4.1.)
        * [4.1.1. Indexing & slicing](#4.1.1.)
        * [4.1.2. Operations with lists](#4.1.2.)
    + [4.2. Tuple](#4.2.)
    + [4.3. Dictionary](#4.3.)
    + [4.4. Set](#4.4.)

<a id = "4."></a>
<a href="#idx4"><p style="text-align:right;" href="#idx4">Back To Index</p></a> 
# 4. Data structures

- We use data structures to group data together.
- Every data structure has its own properties such as mutability.
- This structures are iterables.

<a id = "4.1."></a>
<a href="#idx4"><p style="text-align:right;" href="#idx4">Back To Index</p></a> 
## 4.1. List

This type of collection is **mutable** so we can change the values after creating them.

```python
# Theory
l1 = [1, 2]
l2 = list()
```

In [8]:
l1 = [1, 2, "hola", 5.7, True, [False, None]]  # we use ',' to separate each element in the list
print(l1)  # as we can see we can mix different objects inside a list

[1, 2, 'hola', 5.7, True, [False, None]]

In [4]:
l2 = list()  # create an empty list
l2

[]

In [5]:
l3 = []  # Other way to create an empty list

In [11]:
type(l1), type(l2), type(l3)

(list, list, list)

<a id = "4.1.1."></a>
<a href="#idx4"><p style="text-align:right;" href="#idx4">Back To Index</p></a> 
### 4.1.1. Indexing & slicing

<div style="text-align:center"><img src="./images/indexing.png" /></div>

In [17]:
l = [2.5, 3, 7, 9, 10]

In [18]:
l[0]  # to extract (index) first element of a list

2.5

In [19]:
l[-1]  # to extract (index) last element of a list

10

Due to its mutability we can do the following:

In [22]:
print(f"3rd position in list l is {l[2]}")
l[2] = 5
print(f"3rd position in list l after changing is {l[2]}")

3rd position in list l is 7
3rd position in list l after changing is 5

slicing is to index various elements inside a list

```python
l[:n]  # take all the elements from the beginning to the element in position n-1
l[a:b]  # take the elements from position a to b-1
l[-n:]  # take last n elements
```

In [27]:
l

[2.5, 3, 5, 9, 10]

In [26]:
l[:3]  # take 3 elements

[2.5, 3, 5]

In [28]:
l[2:4]

[5, 9]

In [29]:
l[-2:]

[9, 10]

<a id = "4.1.2."></a>
<a href="#idx4"><p style="text-align:right;" href="#idx4">Back To Index</p></a> 
### 4.1.2. Operations with lists

In [30]:
# Concatenate lists
l1 = [5, 4, 7]
l2 = [6, 7, 8]
l3 = [5, 8, 8]
l123 = l1 + l2 + l3
l123

[5, 4, 7, 6, 7, 8, 5, 8, 8]

In [32]:
# Repeat n times a list
aux = list("1234")
two_year_q = aux * 6
print(two_year_q)

['1', '2', '3', '4', '1', '2', '3', '4', '1', '2', '3', '4', '1', '2', '3', '4', '1', '2', '3', '4', '1', '2', '3', '4']

In [33]:
# Add elements at the end of a list
months = ["J", "F"]
months.append("M")  # this is a list method
months.append("A")
print(months)

['J', 'F', 'M', 'A']

In [34]:
# Extends a list with other list
months.extend(["M", "J", "J", "A"])
months

['J', 'F', 'M', 'A', 'M', 'J', 'J', 'A']

Click here to see [list methods](https://www.w3schools.com/python/python_lists_methods.asp).

```python
l = ["En", "un", "lugar", "de", "La", "Mancha"]
len(l)
>> 6
```

In [36]:
l = "Hello World"
list(l), len(l), l[1]

(['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd'], 11, 'e')

In [58]:
# We can check if there are an element in a list
l = ["socks", "hat", "t-shirt", "jeans"]
"glasses" in l, "socks" in l

(False, True)

<a id = "4.2."></a>
<a href="#idx4"><p style="text-align:right;" href="#idx4">Back To Index</p></a> 
## 4.2. Tuple

Tuples are like list but **inmutable**.
```python
t = (1, 2)
```

In [38]:
t = ("t", "u", "p", "l", "e")
type(t), len(t)

(tuple, 5)

In [39]:
t[1]

'u'

In [41]:
t[1] = "U"  # Fails because a tuple is inmutable

TypeError: 'tuple' object does not support item assignment

In [43]:
t2 = (1, ["J", "F"])  # It is possible to mix data structures
t2

(1, ['J', 'F'])

<a id = "4.3."></a>
<a href="#idx4"><p style="text-align:right;" href="#idx4">Back To Index</p></a> 
## 4.3. Dictionary

With this data structure we can associate values between them with a pair key-value. This is a **mutable** data structure with an inserting order as lists or tuples.
```python
# Theory
dic = {
    "clave1": "valor1",
    "clave2": "valor2",
    ...
}

# Example
dic = {
    "Q1": 2e4,
    "Q2": 2.5e4,
    "Q3": 1.7e4
}
```

In [46]:
car = {
    "color": "Blue Panther",  # BE CAREFULL: We have to end a pair key-value with ','
    "brand": "Ford",
    "model": "Focus St-Line X",
    "horses": 115,
    "is_automatic": False
}

In [47]:
car["color"]  # call a value inside a dictionary with its key

'Blue Panther'

In [48]:
print(f"My car is {car['brand']} {car['model']}")

My car is Ford Focus St-Line X

In [49]:
# A more elegant way of access to the values
car.get("is_automatic")

False

Last way is the most appropiated because the following.

In [53]:
key = "year"
car[key]  # we do not have this key on the dictionary

KeyError: 'year'

In [54]:
print(car.get(key))

None

In [56]:
car.get(key, f"the key '{key}' does not exists")

"the key 'year' does not exists"

In [57]:
# We can add new values by doing
car["year"] = 2020
car

{'color': 'Blue Panther',
 'brand': 'Ford',
 'model': 'Focus St-Line X',
 'horses': 115,
 'is_automatic': False,
 'year': 2020}

In [60]:
print(car.values(), "\n")  # to get the values
print(car.keys(), "\n")  # to get the keys
print(car.items())  # to get keys and values

dict_values(['Blue Panther', 'Ford', 'Focus St-Line X', 115, False, 2020])

dict_keys(['color', 'brand', 'model', 'horses', 'is_automatic', 'year'])

dict_items([('color', 'Blue Panther'), ('brand', 'Ford'), ('model', 'Focus St-Line X'), ('horses', 115), ('is_automatic', False), ('year', 2020)])

In [61]:
# you can extend a dictionary by doing
d1 = {"t1": [12, 11, True]}
d2 = {**d1, "t2": [11, 4, False]}
d2

{'t1': [12, 11, True], 't2': [11, 4, False]}

<a id = "4.4."></a>
<a href="#idx4"><p style="text-align:right;" href="#idx4">Back To Index</p></a> 
## 4.4. Set

Set structure is an special one because only have one ocurrence of values and these are ordered. They are **inmutable**.
```python
# Theory
s1 = {1, 2}
```

In [64]:
s1 = {1, 2}
s1, type(s1)

({1, 2}, set)

In [66]:
set([1, 2, 1])  # a list could have the same element, for a set is forbidden.

{1, 2}

In [67]:
set([3, 4, 700, 1])  # also a set order the elements

{1, 3, 4, 700}

In [68]:
a = {1, 2, 3, 4}

In [69]:
a[0]

TypeError: 'set' object is not subscriptable

In [70]:
class1 = {"Marc", "Esteban", "Laura", "Carmen", "Monica", "Juan"}
class2 = {"Esteban", "Carmen", "Luisa"}

In [71]:
class1.intersection(class2)

{'Carmen', 'Esteban'}

In [72]:
class1.union(class2)

{'Carmen', 'Esteban', 'Juan', 'Laura', 'Luisa', 'Marc', 'Monica'}

In [73]:
class1.union(class2) - class1.intersection(class2)

{'Juan', 'Laura', 'Luisa', 'Marc', 'Monica'}

Click here to see [set methods](https://www.w3schools.com/python/python_ref_set.asp).

#### Exercise 4.1.
Given the following lists:
```python
list_a = ["a", "b", "a", "v", "a"]
```
1. Create a list from the last to the beginning.

#### Exercise 4.2.
Given the following lists:
```python
list_a = ["Hello", "World!", "Nice", "to", "meet", "you", "."]
```
1. Create a string from that list

#### Exercise 4.3.
1. Create a string from that list of 5 elements.
2. Change element 2 and 3 by `7`.
3. Drop repeated values inside the list.
4. Elevate the first element of the list to the last element of the list.

#### Exercise 4.4.
Join both dictionaries
```python
d1 = {"1": 10, "2": 100}
d2 = {"3": 54, "4": 540}
```

<div><a href="05_loops.ipynb"><p style="text-align:right;" href="05_loops.ipynb">Next - 5. Loops</p></a>