# Parte I - Limpieza y Creación de un base de datos

![ejercicios](img/ejercicios.png)

# 1 - Exploración y limpieza.

En la carpeta `data` de este ejercicio hay 8 archivos csv. Cada uno de ellos corresponde a una entidad de una base de datos que pertenece a una compañia de compra-venta de automóviles clásicos. Estas son: `customers`, `employees`, `offices`, `orderdetails`, `orders`, `payments`, `productlines` y `products`.

La primera tarea consiste en explorar los datos y realizar la limpieza si fuera necesario. ¿Existen nulos?.¿Cuales son las columnas?. ¿Existe relación entre las distintas tablas?

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)

In [2]:
df1 = pd.read_csv('./data/customers.csv')

In [3]:
columnas = df1.columns
columnas

Index(['customerNumber', 'customerName', 'contactLastName', 'contactFirstName',
       'phone', 'addressLine1', 'addressLine2', 'city', 'state', 'postalCode',
       'country', 'salesRepEmployeeNumber', 'creditLimit'],
      dtype='object')

In [4]:
nan_cols=df1.isna().sum()

In [5]:
df1=df1.drop(columns=nan_cols[nan_cols>50].index)

In [6]:
columnas = df1.columns
columnas

Index(['customerNumber', 'customerName', 'contactLastName', 'contactFirstName',
       'phone', 'addressLine1', 'city', 'postalCode', 'country',
       'salesRepEmployeeNumber', 'creditLimit'],
      dtype='object')

In [7]:
col_temp=[]
for col in columnas:
    col_name = []
    for char in col:
        if char.isupper():
            char1 = char.replace(char, '_'+char.lower())
            
            char = char1
            col_name.append(char)
        else:
            col_name.append(char)
    col_name_join = ''.join(col_name)
    col_temp.append(col_name_join)
    #print(col_temp)
col_temp

['customer_number',
 'customer_name',
 'contact_last_name',
 'contact_first_name',
 'phone',
 'address_line1',
 'city',
 'postal_code',
 'country',
 'sales_rep_employee_number',
 'credit_limit']

In [8]:
df1 = df1.fillna(value='Not register')

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   customerNumber          122 non-null    int64
 1   customerName            122 non-null    object
 2   contactLastName         122 non-null    object
 3   contactFirstName        122 non-null    object
 4   phone                   122 non-null    object
 5   addressLine1            122 non-null    object
 6   city                    122 non-null    object
 7   postalCode              122 non-null    object
 8   country                 122 non-null    object
 9   salesRepEmployeeNumber  122 non-null    object
 10  creditLimit             122 non-null    float64
dtypes: float64(1), int64(1), object(9)
memory usage: 10.6+ KB

In [10]:
df1.to_csv('data/customers_clean.csv', index=False)

In [11]:
df2 = pd.read_csv('data/employees.csv')

In [12]:
df2 = df2.fillna(value=1000.0)

In [13]:
df2.to_csv('data/employees_clean.csv', index=False)

In [14]:
pd_offices = pd.read_csv('data/offices.csv')
for i in pd_offices['territory']:
    if i == 'Japan':
         pd_offices['territory'] =  pd_offices.territory.str.replace('Japan','APAC')
pd_offices['addressLine2']=pd_offices['addressLine2'].fillna('Not register')
pd_offices
for i in pd_offices['state']:
    if pd_offices['state'].isnull:
        pd_offices['state']=pd_offices['state'].fillna(pd_offices['city'])
        print
for i in pd_offices['country']:
    if i == 'USA':
         pd_offices['territory']=pd_offices['territory'].fillna('NAC')

In [15]:
pd_offices.to_csv('data/offices_clean.csv', index=False)

In [16]:
df= pd.read_csv('data/productlines.csv')
df.info(memory_usage='deep')
df=df.dropna(1)
df.to_csv('data/productlines_clean.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   productLine      7 non-null      object
 1   textDescription  7 non-null      object
 2   htmlDescription  0 non-null      float64
 3   image            0 non-null      float64
dtypes: float64(2), object(2)
memory usage: 4.3 KB

/tmp/ipykernel_5787/2726542282.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only
  df=df.dropna(1)

In [17]:
import warnings
warnings.filterwarnings('ignore')
df_1 = pd.read_csv('data/orderdetails.csv')
df_2 = pd.read_csv('data/orders.csv')
df_2.comments = df_2.comments.fillna('No coments')
df_2.orderDate = pd.to_datetime(df_2.orderDate)
df_2.shippedDate = pd.to_datetime(df_2.shippedDate)
df_2.shippedDate = pd.to_datetime(df_2.requiredDate)
for i in range(len(df_2)):
    if type(df_2.shippedDate[i]) != type(df_2.orderDate[i]):
        df_2.shippedDate[i] = df_2.orderDate[i] + pd.Timedelta('3 days')
    else:
        df_2.shippedDate[i] = df_2.shippedDate[i]
df_2.info()
df_1.to_csv('data/ordersdetails_clean.csv',index = False)
df_2.to_csv('data/orders_clean.csv',index = False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326 entries, 0 to 325
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   orderNumber     326 non-null    int64
 1   orderDate       326 non-null    datetime64[ns]
 2   requiredDate    326 non-null    object
 3   shippedDate     326 non-null    datetime64[ns]
 4   status          326 non-null    object
 5   comments        326 non-null    object
 6   customerNumber  326 non-null    int64
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 18.0+ KB

# 2 - Diagrama Entidades-Relaciones (ERD).

![erd](img/erd.png)


Una vez que se han explorado los datos y están limpios, procedemos a crear la estructura de la base de datos. Primero se crea una base de datos vacía y después se diseña la estructura de la base de datos con el diagrama de entidades-relaciones (ERD). 

Con el diseño del diagrama, podemos obtener una query que, cuando se ejecuta, genera la estructura de tablas y relaciones de la base de datos.

In [18]:
# Ejemplo de ERD

In [19]:
customers = pd.read_csv('./data/customers_clean.csv')
employees = pd.read_csv('./data/employees_clean.csv')
offices = pd.read_csv('data/offices_clean.csv')
orders = pd.read_csv('data/orders_clean.csv')
ordersDetails = pd.read_csv('data/ordersdetails_clean.csv')
productsLines = pd.read_csv('data/productlines_clean.csv')
products = pd.read_csv('data/products.csv')
payments = pd.read_csv('data/payments.csv')

In [20]:
cust_cols =customers.columns
cust_cols

Index(['customerNumber', 'customerName', 'contactLastName', 'contactFirstName',
       'phone', 'addressLine1', 'city', 'postalCode', 'country',
       'salesRepEmployeeNumber', 'creditLimit'],
      dtype='object')

In [21]:
col_temp=[]
for col in cust_cols:
    col_name = []
    for char in col:
        if char.isupper():
            char1 = char.replace(char, '_'+char.lower())
            
            char = char1
            col_name.append(char)
        else:
            col_name.append(char)
    col_name_join = ''.join(col_name)
    col_temp.append(col_name_join)
    #print(col_temp)
col_temp

['customer_number',
 'customer_name',
 'contact_last_name',
 'contact_first_name',
 'phone',
 'address_line1',
 'city',
 'postal_code',
 'country',
 'sales_rep_employee_number',
 'credit_limit']

In [22]:
customers.columns = col_temp

In [23]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer_number            122 non-null    int64
 1   customer_name              122 non-null    object
 2   contact_last_name          122 non-null    object
 3   contact_first_name         122 non-null    object
 4   phone                      122 non-null    object
 5   address_line1              122 non-null    object
 6   city                       122 non-null    object
 7   postal_code                122 non-null    object
 8   country                    122 non-null    object
 9   sales_rep_employee_number  122 non-null    object
 10  credit_limit               122 non-null    float64
dtypes: float64(1), int64(1), object(9)
memory usage: 10.6+ KB

In [24]:
customers.sales_rep_employee_number = customers.sales_rep_employee_number.str.replace('Not register', '0')

In [25]:
customers.sales_rep_employee_number = customers.sales_rep_employee_number.astype('float')

In [26]:
customers.sales_rep_employee_number = customers.sales_rep_employee_number.astype('int64')

In [27]:
customers.to_csv('data/customers_clean.csv', index=False)

In [28]:
employees.columns

Index(['employeeNumber', 'lastName', 'firstName', 'extension', 'email',
       'officeCode', 'reportsTo', 'jobTitle'],
      dtype='object')

In [29]:
col_temp=[]
for col in employees:
    col_name = []
    for char in col:
        if char.isupper():
            char1 = char.replace(char, '_'+char.lower())
            
            char = char1
            col_name.append(char)
        else:
            col_name.append(char)
    col_name_join = ''.join(col_name)
    col_temp.append(col_name_join)
    #print(col_temp)
col_temp

['employee_number',
 'last_name',
 'first_name',
 'extension',
 'email',
 'office_code',
 'reports_to',
 'job_title']

In [30]:
employees.columns = col_temp

In [31]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   employee_number  23 non-null     int64
 1   last_name        23 non-null     object
 2   first_name       23 non-null     object
 3   extension        23 non-null     object
 4   email            23 non-null     object
 5   office_code      23 non-null     int64
 6   reports_to       23 non-null     float64
 7   job_title        23 non-null     object
dtypes: float64(1), int64(2), object(5)
memory usage: 1.6+ KB

In [32]:
employees.reports_to

0     1000.0
1     1002.0
2     1002.0
3     1056.0
4     1056.0
5     1056.0
6     1143.0
7     1143.0
8     1143.0
9     1143.0
10    1143.0
11    1143.0
12    1102.0
13    1102.0
14    1102.0
15    1102.0
16    1102.0
17    1088.0
18    1088.0
19    1088.0
20    1056.0
21    1621.0
22    1102.0
Name: reports_to, dtype: float64

In [33]:
employees.head()

,employee_number,last_name,first_name,extension,email,office_code,reports_to,job_title
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,1000.0,President
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002.0,VP Sales
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002.0,VP Marketing
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056.0,Sales Manager (APAC)
4,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056.0,Sale Manager (EMEA)

In [34]:
employees.employee_number

0     1002
1     1056
2     1076
3     1088
4     1102
5     1143
6     1165
7     1166
8     1188
9     1216
10    1286
11    1323
12    1337
13    1370
14    1401
15    1501
16    1504
17    1611
18    1612
19    1619
20    1621
21    1625
22    1702
Name: employee_number, dtype: int64

In [35]:
employees.to_csv('data/employees_clean', index=False)

In [36]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customerNumber  273 non-null    int64
 1   checkNumber     273 non-null    object
 2   paymentDate     273 non-null    object
 3   amount          273 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 8.7+ KB

In [37]:
col_temp=[]
for col in payments:
    col_name = []
    for char in col:
        if char.isupper():
            char1 = char.replace(char, '_'+char.lower())
            
            char = char1
            col_name.append(char)
        else:
            col_name.append(char)
    col_name_join = ''.join(col_name)
    col_temp.append(col_name_join)
    #print(col_temp)
col_temp

['customer_number', 'check_number', 'payment_date', 'amount']

In [38]:
payments.columns = col_temp

In [39]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273 entries, 0 to 272
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_number  273 non-null    int64
 1   check_number     273 non-null    object
 2   payment_date     273 non-null    object
 3   amount           273 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 8.7+ KB

In [40]:
payments.to_csv('data/payments_clean.csv', index=False)

In [41]:
offices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   officeCode    7 non-null      int64
 1   city          7 non-null      object
 2   phone         7 non-null      object
 3   addressLine1  7 non-null      object
 4   addressLine2  7 non-null      object
 5   state         7 non-null      object
 6   country       7 non-null      object
 7   postalCode    7 non-null      object
 8   territory     7 non-null      object
dtypes: int64(1), object(8)
memory usage: 632.0+ bytes

In [42]:
col_temp=[]
for col in offices:
    col_name = []
    for char in col:
        if char.isupper():
            char1 = char.replace(char, '_'+char.lower())
            
            char = char1
            col_name.append(char)
        else:
            col_name.append(char)
    col_name_join = ''.join(col_name)
    col_temp.append(col_name_join)
    #print(col_temp)
col_temp

['office_code',
 'city',
 'phone',
 'address_line1',
 'address_line2',
 'state',
 'country',
 'postal_code',
 'territory']

In [43]:
offices.columns = col_temp

In [44]:
offices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   office_code    7 non-null      int64
 1   city           7 non-null      object
 2   phone          7 non-null      object
 3   address_line1  7 non-null      object
 4   address_line2  7 non-null      object
 5   state          7 non-null      object
 6   country        7 non-null      object
 7   postal_code    7 non-null      object
 8   territory      7 non-null      object
dtypes: int64(1), object(8)
memory usage: 632.0+ bytes

In [45]:
offices.to_csv('data/offices_clean.csv', index=False)

In [46]:

col_temp=[]
for col in productsLines:
    col_name = []
    for char in col:
        if char.isupper():
            char1 = char.replace(char, '_'+char.lower())
            
            #char = char1
            col_name.append(char1)
        else:
            col_name.append(char)
    col_name_join = ''.join(col_name)
    col_temp.append(col_name_join)
    #print(col_temp)
col_temp

['product_line', 'text_description']

In [47]:
productsLines.columns = col_temp

In [48]:
productsLines.head()

   product_line                                   text_description
0  Classic Cars  Attention car enthusiasts: Make your wildest c...
1   Motorcycles  Our motorcycles are state of the art replicas ...
2        Planes  Unique, diecast airplane and helicopter replic...
3         Ships  The perfect holiday or anniversary gift for ex...
4        Trains  Model trains are a rewarding hobby for enthusi...

In [49]:
productsLines.to_csv('data/productsLines.csv', index=False)

In [50]:
productsLines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product_line      7 non-null      object
 1   text_description  7 non-null      object
dtypes: object(2)
memory usage: 240.0+ bytes

In [51]:
products.head()

,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
1,S10_1949,1952 Alpine Renault 1300,Classic Cars,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30
2,S10_2016,1996 Moto Guzzi 1100i,Motorcycles,1:10,Highway 66 Mini Classics,"Official Moto Guzzi logos and insignias, saddl...",6625,68.99,118.94
3,S10_4698,2003 Harley-Davidson Eagle Drag Bike,Motorcycles,1:10,Red Start Diecast,"Model features, official Harley Davidson logos...",5582,91.02,193.66
4,S10_4757,1972 Alfa Romeo GTA,Classic Cars,1:10,Motor City Art Classics,Features include: Turnable front wheels; steer...,3252,85.68,136.00

In [90]:
col_temp=[]
for col in products:
    col_name = []
    for char in col:
        if char.isupper():
            char1 = char.replace(char, '_'+char.lower())
            
            #char = char1
            col_name.append(char1)
        else:
            col_name.append(char)
    col_name_join = ''.join(col_name)
    col_temp.append(col_name_join)
    #print(col_temp)
col_temp

['product_code',
 'product_name',
 'product_line',
 'product_scale',
 'product_vendor',
 'product_description',
 'quantity_in_stock',
 'buy_price',
 '_m_r_s_p']

In [91]:
products.columns = col_temp

In [109]:
products = products.rename(columns={'_m_r_s_p':'MRSP'})

In [110]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_code         110 non-null    object
 1   product_name         110 non-null    object
 2   product_line         110 non-null    object
 3   product_scale        110 non-null    object
 4   product_vendor       110 non-null    object
 5   product_description  110 non-null    object
 6   quantity_in_stock    110 non-null    int64
 7   buy_price            110 non-null    float64
 8   MRSP                 110 non-null    float64
dtypes: float64(2), int64(1), object(6)
memory usage: 7.9+ KB

In [132]:
products.head()

,product_code,product_name,product_line,product_scale,product_vendor,product_description,quantity_in_stock,buy_price,MRSP
0,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
1,S10_1949,1952 Alpine Renault 1300,Classic Cars,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30
2,S10_2016,1996 Moto Guzzi 1100i,Motorcycles,1:10,Highway 66 Mini Classics,"Official Moto Guzzi logos and insignias, saddl...",6625,68.99,118.94
3,S10_4698,2003 Harley-Davidson Eagle Drag Bike,Motorcycles,1:10,Red Start Diecast,"Model features, official Harley Davidson logos...",5582,91.02,193.66
4,S10_4757,1972 Alfa Romeo GTA,Classic Cars,1:10,Motor City Art Classics,Features include: Turnable front wheels; steer...,3252,85.68,136.00

In [111]:
products.to_csv('data/products_clean.csv', index='False')

In [112]:
ordersDetails.head()

   order_number product_code  quantity_ordered  price_each  order_line_number
0         10100     S18_1749                30      136.00                  3
1         10100     S18_2248                50       55.09                  2
2         10100     S18_4409                22       75.46                  4
3         10100     S24_3969                49       35.29                  1
4         10101     S18_2325                25      108.06                  4

In [113]:
col_temp=[]
for col in ordersDetails:
    col_name = []
    for char in col:
        if char.isupper():
            char1 = char.replace(char, '_'+char.lower())
            
            #char = char1
            col_name.append(char1)
        else:
            col_name.append(char)
    col_name_join = ''.join(col_name)
    col_temp.append(col_name_join)
    #print(col_temp)
col_temp

['order_number',
 'product_code',
 'quantity_ordered',
 'price_each',
 'order_line_number']

In [114]:
ordersDetails.columns = col_temp

In [115]:
ordersDetails.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2996 entries, 0 to 2995
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_number       2996 non-null   int64
 1   product_code       2996 non-null   object
 2   quantity_ordered   2996 non-null   int64
 3   price_each         2996 non-null   float64
 4   order_line_number  2996 non-null   int64
dtypes: float64(1), int64(3), object(1)
memory usage: 117.2+ KB

In [116]:
ordersDetails.product_code.value_counts()

S18_3232     53
S18_1662     28
S24_1444     28
S32_2509     28
S50_1392     28
S18_2625     28
S10_4757     28
S24_3816     28
S32_1374     28
S24_2000     28
S24_1578     28
S18_2581     28
S18_3029     28
S18_3856     28
S24_1785     28
S24_2841     28
S24_3420     28
S24_3949     28
S24_4278     28
S32_4289     28
S50_1341     28
S700_1691    28
S700_2047    28
S700_2466    28
S700_2834    28
S700_3167    28
S700_4002    28
S72_1253     28
S10_1678     28
S10_2016     28
S10_4698     28
S24_2840     28
S12_2823     28
S24_4258     28
S700_2824    28
S18_3320     28
S18_4600     28
S18_4668     28
S24_2300     28
S18_2949     28
S32_1268     28
S32_3522     28
S18_2432     28
S18_1097     28
S12_1666     28
S10_4962     28
S10_1949     28
S18_2957     28
S18_1367     28
S18_1342     28
S24_2022     28
S24_1937     28
S18_2795     28
S18_2325     28
S12_4473     28
S18_2238     28
S18_2319     28
S18_3136     28
S18_1129     27
S18_1984     27
S32_4485     27
S32_2206     27
S12_1099     27
S12_3380     27
S12_3990     27
S12_4675     27
S18_1889     27
S18_3278     27
S18_3482     27
S18_3782     27
S18_4721     27
S24_2360     27
S24_3371     27
S50_4713     27
S24_4620     27
S24_3856     27
S700_2610    27
S18_3140     27
S72_3212     27
S12_3148     27
S18_4027     27
S24_4048     27
S32_3207     27
S50_1514     27
S12_1108     27
S12_3891     27
S18_3259     27
S18_4522     27
S24_2011     27
S24_3151     27
S700_1138    27
S700_1938    27
S24_2972     27
S700_3505    27
S700_3962    27
S24_3191     25
S24_1046     25
S24_1628     25
S24_2766     25
S18_1589     25
S18_1749     25
S18_3685     25
S18_2870     25
S18_2248     25
S24_3969     25
S18_4409     25
S24_3432     25
S18_4933     24
S24_2887     24
Name: product_code, dtype: int64

In [117]:
col_temp=[]
for col in orders:
    col_name = []
    for char in col:
        if char.isupper():
            char1 = char.replace(char, '_'+char.lower())
            
            #char = char1
            col_name.append(char1)
        else:
            col_name.append(char)
    col_name_join = ''.join(col_name)
    col_temp.append(col_name_join)
    #print(col_temp)
col_temp

['order_number',
 'order_date',
 'required_date',
 'shipped_date',
 'status',
 'comments',
 'customer_number']

In [118]:
orders.columns = col_temp

In [119]:
orders.to_csv('data/orders_clean.csv', index='False')

In [120]:
ordersDetails.to_csv('data/ordersDetails_clean.csv', index='False')

# 3 - Inserción de datos

Ahora que tenemos la base de datos creada y con su estructura diseñada, se procede a insertar los datos. Pasamos los datos de los archivos `.csv` a nuestra base de datos `SQL`.

In [61]:
import mysql.connector as conn
db_conetc=conn.connect(host='localhost', user='root', passwd='16082016$Noa', database='db_practica') # directo a la db

In [62]:
from sqlalchemy import create_engine

In [63]:
passw = '16082016$Noa'
str_conn='mysql+pymysql://root:'+passw+'@localhost:3306/db_practica'

motor=create_engine(str_conn)

In [135]:
customers.to_sql(name='customers', con=motor, if_exists='append', index=False) # motor con sqlalchemy

In [122]:
db_tables = [employees, offices, payments, products, productsLines, orders, ordersDetails]

In [136]:
employees.to_sql(name='employees', con=motor, if_exists='append', index=False)

In [137]:
offices.to_sql(name='offices', con=motor, if_exists='append', index=False)

In [138]:
products.to_sql(name='products', con=motor, if_exists='append', index=False)

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry 'S10_1678-Motorcycles' for key 'products.PRIMARY'")
[SQL: INSERT INTO products (product_code, product_name, product_line, product_scale, product_vendor, product_description, quantity_in_stock, buy_price, `MRSP`) VALUES (%(product_code)s, %(product_name)s, %(product_line)s, %(product_scale)s, %(product_vendor)s, %(product_description)s, %(quantity_in_stock)s, %(buy_price)s, %(MRSP)s)]
[parameters: ({'product_code': 'S10_1678', 'product_name': '1969 Harley Davidson Ultimate Chopper', 'product_line': 'Motorcycles', 'product_scale': '1:10', 'product_vendor': 'Min Lin Diecast', 'product_description': 'This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive chain, wheels and steering. All parts are particularly delicate due to their precise scale and require special care and attention.', 'quantity_in_stock': 7933, 'buy_price': 48.81, 'MRSP': 95.7}, {'product_code': 'S10_1949', 'product_name': '1952 Alpine Renault 1300', 'product_line': 'Classic Cars', 'product_scale': '1:10', 'product_vendor': 'Classic Metal Creations', 'product_description': 'Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 'quantity_in_stock': 7305, 'buy_price': 98.58, 'MRSP': 214.3}, {'product_code': 'S10_2016', 'product_name': '1996 Moto Guzzi 1100i', 'product_line': 'Motorcycles', 'product_scale': '1:10', 'product_vendor': 'Highway 66 Mini Classics', 'product_description': 'Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine, working steering, working suspension, two leathe ... (93 characters truncated) ... paint with chrome accents, superior die-cast detail , rotating wheels , working kick stand, diecast metal with plastic parts and baked enamel finish.', 'quantity_in_stock': 6625, 'buy_price': 68.99, 'MRSP': 118.94}, {'product_code': 'S10_4698', 'product_name': '2003 Harley-Davidson Eagle Drag Bike', 'product_line': 'Motorcycles', 'product_scale': '1:10', 'product_vendor': 'Red Start Diecast', 'product_description': 'Model features, official Harley Davidson logos and insignias, detachable rear wheelie bar, heavy diecast metal with resin parts, authentic multi-colo ... (199 characters truncated) ... t replica, baked enamel finish, 1:10 scale model, removable fender, seat and tank cover piece for displaying the superior detail of the v-twin engine', 'quantity_in_stock': 5582, 'buy_price': 91.02, 'MRSP': 193.66}, {'product_code': 'S10_4757', 'product_name': '1972 Alfa Romeo GTA', 'product_line': 'Classic Cars', 'product_scale': '1:10', 'product_vendor': 'Motor City Art Classics', 'product_description': 'Features include: Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 'quantity_in_stock': 3252, 'buy_price': 85.68, 'MRSP': 136.0}, {'product_code': 'S10_4962', 'product_name': '1962 LanciaA Delta 16V', 'product_line': 'Classic Cars', 'product_scale': '1:10', 'product_vendor': 'Second Gear Diecast', 'product_description': 'Features include: Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 'quantity_in_stock': 6791, 'buy_price': 103.42, 'MRSP': 147.74}, {'product_code': 'S12_1099', 'product_name': '1968 Ford Mustang', 'product_line': 'Classic Cars', 'product_scale': '1:12', 'product_vendor': 'Autoart Studio Design', 'product_description': 'Hood, doors and trunk all open to reveal highly detailed interior features. Steering wheel actually turns the front wheels. Color dark green.', 'quantity_in_stock': 68, 'buy_price': 95.34, 'MRSP': 194.57}, {'product_code': 'S12_1108', 'product_name': '2001 Ferrari Enzo', 'product_line': 'Classic Cars', 'product_scale': '1:12', 'product_vendor': 'Second Gear Diecast', 'product_description': 'Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 'quantity_in_stock': 3619, 'buy_price': 95.59, 'MRSP': 207.8}  ... displaying 10 of 110 total bound parameter sets ...  {'product_code': 'S72_1253', 'product_name': 'Boeing X-32A JSF', 'product_line': 'Planes', 'product_scale': '1:72', 'product_vendor': 'Motor City Art Classics', 'product_description': '10" Wingspan with retractable landing gears.Comes with pilot', 'quantity_in_stock': 4857, 'buy_price': 32.77, 'MRSP': 49.66}, {'product_code': 'S72_3212', 'product_name': 'Pont Yacht', 'product_line': 'Ships', 'product_scale': '1:72', 'product_vendor': 'Unimax Art Galleries', 'product_description': 'Measures 38 inches Long x 33 3/4 inches High. Includes a stand.\r\nMany extras including rigging, long boats, pilot house, anchors, etc. Comes with 2 masts, all square-rigged', 'quantity_in_stock': 414, 'buy_price': 33.3, 'MRSP': 54.6})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [139]:
productsLines.to_sql(name='offproductsLinesices', con=motor, if_exists='append', index=False)

In [140]:
orders.to_sql(name='orders', con=motor, if_exists='append', index=False)

In [141]:
ordersDetails.to_sql(name='ordersDetails', con=motor, if_exists='append', index=False)